<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="mysqlConn" connectionString="Database=byam;Data Source=123.249.3.114;User Id=admin;Password=byam123456;pooling=false;CharSet=utf8;port=3306"/>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
  <appSettings>
    <add key="com" value="Com4"/>
    <add key="BaudRate" value="9600"/>
    <add key="DataBits" value="8"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
